extends layout

block content
  .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
    .container
      a.navbar-brand(href='../') David Murdoch
      |         
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |         
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.dropdown
            a#themes.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
              | Themes 
              span.caret
            |               
            .dropdown-menu(aria-labelledby='themes')
              a.dropdown-item(href='../default/') Default
              |                 
              .dropdown-divider
              |                 
              a.dropdown-item(href='../cerulean/') Cerulean
              |                 
              a.dropdown-item(href='../cosmo/') Cosmo
              |                 
              a.dropdown-item(href='../cyborg/') Cyborg
              |                 
              a.dropdown-item(href='../darkly/') Darkly
              |                 
              a.dropdown-item(href='../flatly/') Flatly
              |                 
              a.dropdown-item(href='../journal/') Journal
              |                 
              a.dropdown-item(href='../litera/') Litera
              |                 
              a.dropdown-item(href='../lumen/') Lumen
              |                 
              a.dropdown-item(href='../lux/') Lux
              |                 
              a.dropdown-item(href='../materia/') Materia
              |                 
              a.dropdown-item(href='../minty/') Minty
              |                 
              a.dropdown-item(href='../pulse/') Pulse
              |                 
              a.dropdown-item(href='../sandstone/') Sandstone
              |                 
              a.dropdown-item(href='../simplex/') Simplex
              |                 
              a.dropdown-item(href='../sketchy/') Sketchy
              |                 
              a.dropdown-item(href='../slate/') Slate
              |                 
              a.dropdown-item(href='../solar/') Solar
              |                 
              a.dropdown-item(href='../spacelab/') Spacelab
              |                 
              a.dropdown-item(href='../superhero/') Superhero
              |                 
              a.dropdown-item(href='../united/') United
              |                 
              a.dropdown-item(href='../yeti/') Yeti
          |             
          li.nav-item
            a.nav-link(href='../help/') Help
          |             
          li.nav-item
            a.nav-link(href='http://blog.bootswatch.com') Blog
          |             
          li.nav-item.dropdown
            a#download.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
              | Flatly 
              span.caret
            |               
            .dropdown-menu(aria-labelledby='download')
              a.dropdown-item(href='https://jsfiddle.net/bootswatch/jmg3gykg/') Open in JSFiddle
              |                 
              .dropdown-divider
              |                 
              a.dropdown-item(href='../4/flatly/bootstrap.min.css') bootstrap.min.css
              |                 
              a.dropdown-item(href='../4/flatly/bootstrap.css') bootstrap.css
              |                 
              .dropdown-divider
              |                 
              a.dropdown-item(href='../4/flatly/_variables.scss') _variables.scss
              |                 
              a.dropdown-item(href='../4/flatly/_bootswatch.scss') _bootswatch.scss
        |           
        ul.nav.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='http://builtwithbootstrap.com/', target='_blank') Built With Bootstrap
          |             
          li.nav-item
            a.nav-link(href='https://wrapbootstrap.com/?ref=bsw', target='_blank') WrapBootstrap

  .container
    .display-3 Subtle Changes Between Different Programming Languages
    hr
    include:markdown-it markdowncontent.md