doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.min.css')
    link(rel='stylesheet', href='/stylesheets/atom-one-dark.css')
  body
    block content
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/custom.js')
    script(src='/javascripts/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();